backend/.env
backend/celery*
backend/venv
env
node_modules
backend/envvars.txt
backend/core/__pycache__
backend/src/__pycache__
backend/src/migrations
frontend/.env
backend/core/informix_jdbc_backend/__pycache__
backend/src/apps/__pycache__
backend/src/apps/informix/__pycache__
backend/src/apps/efector/__pycache__
backend/src/apps/turno/__pycache__
backend/src/apps/turno_espera/__pycache__
backend/src/apps/mensaje/__pycache__

backend/staticfiles/
.idea
.mypy_cache
backend/src/utils/__pycache__
backend/src/tasks/__pycache__